$card-border-width: 1.5px;
$enable-shadows: true;
$card-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); // Example of a custom shadow

// SEARCH AND 



@import "../node_modules/bootstrap/scss/bootstrap";